---
import Layout from "@layouts/Layout.astro";
import "@styles/global.css";
import Days from "@layouts/Days.astro";
import Quote1 from "@components/quote/pbzweihander.html";
import Quote2 from "@components/quote/dazeemdas.html";
import Quote3 from "@components/quote/robin_maki.html";
---

<Layout title="フェディバースの日、おめでとう！">
  <h1 class="text-3xl font-bold text-center mb-10">
    フェディバースの日、おめでとう！
  </h1>
  <h2 class="text-xl text-center mb-4">
    フェディバースの日は（たぶん）今日です！
  </h2>
  <p class="w-2xl mx-auto mb-10">
    毎日がフェディバースの日になれます！フェディバースの連合型の性質に従って、
    フェディバースに関連するすべての記念日を祝っています。 つまり、<b
      >連合型フェディバースの日</b
    >です！
  </p>
  <h2 class="text-xl text-center mb-4">制定されるに至ったきっかけ</h2>
  <div
    class="flex gap-2 justify-center-safe items-stretch mb-4 overflow-x-auto"
  >
    <div class="w-sm">
      <Quote1 />
      <div class="text-gray-500 text-sm p-1">
        そうか、フェディバースの日とか無いのか？
        無ければ、我々同士で決めて記念してもいいんじゃないか？
        せめて韓国語圏のフェディバースの日とか決めてもいいんじゃないか？
      </div>
    </div>
    <div class="w-sm">
      <Quote2 />
      <div class="text-gray-500 text-sm p-1">
        今日はフェディバースの日です。
      </div>
    </div>
    <div class="w-sm">
      <Quote3 />
      <div class="text-gray-500 text-sm p-1">
        フェディバースの日：フェディバースの日を制定しようという日を記念する。
      </div>
    </div>
  </div>
  <p class="w-2xl mx-auto mb-10">
    あるユーザーが「フェディバースの日はないのか？」と言及した日を祝います。
    その日、4月11日を<b>連合型フェディバースの日</b>と呼びます。
  </p>
  <h2 class="text-xl text-center mb-4">祝うべき日はたくさんあります</h2>
  <div class="max-w-4xl mx-auto mb-6">
    <Days lang="ja" />
  </div>
  <h2 class="text-center text-2xl text-bold mb-10">
    新しい日の追加は<a
      class="text-blue-600 underline"
      href="https://github.com/pbzweihander/fediday.org/issues/new?template=1-suggest-en.yaml"
      target="_blank">こちら</a
    >
  </h2>
</Layout>
